<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logged in</title>
  <style>
    body {
      text-align: center;
      font-family: system-ui;
      font-size: 5vw;
      line-height: 1.4;
    }
  </style>
</head>
<body>
  <p>🎉<br>Willkommen,<br><%= user  %>!<br>✨ ✨ ✨ ✨ ✨ ✨</p>
  <a href="/logout">Logout</a>
</body>
</html>
